body{
    font-family: 'Inter', sans-serif;
}
.nav-color{
    background-color: #FFFBF0;
}
.banner-color{
    background-color: #FFFBF0;
}
h2 .banner-text{
    color: #FABE4C;
}
.font{
    color: #363958;
}
.btn-color{
    height: 3em;
    width: 8em;
    background-color: #A4BC46;
    border-radius: .5em;
    border-style: none;
}
.card-border{
    border-radius: 1em;
}
.women{
    background-color: #F1F1F1;
    border-radius: 1em;
}
.footer-design{
    border: 0;;
    margin-bottom: 5em;
    color: #FABE4C;
}